@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@await Component.InvokeAsync("FilterProducts")

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card h-100 card-border" style="width: 18rem;">
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Pictures)" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <a asp-controller="Products" asp-action="Details" asp-route-id=@item.ProductId class="btn btn-primary">View Details</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (@item.Quantity > 0)
                            {
                                <a asp-controller="Cart" asp-action="AddOne" asp-route-id=@item.ProductId class="btn btn-primary">Add to cart</a>
                            }
                            else
                            {
                                <p>No more in stock.</p>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

    
