
ECommercePlateform/obj/Debug/net6.0/ECommercePlateform.csproj.AssemblyReference.cache
.vs/ECommercePlateform/v17/fileList.bin
.vs/ECommercePlateform/v17/.suo
.vs/ECommercePlateform/v17/.futdcache.v1
.vs/ECommercePlateform/project-colors.json
.vs/ECommercePlateform/DesignTimeBuild/.dtbcache.v2
