@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
}

<div class="container-fluid">
    <div class="row">
        <div class="dropdown mb-3 col-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Filter By Category
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" asp-controller="Products" asp-action="ProductsOfCategory" asp-route-id=@ViewData["HeadphoneId"]>Headphones</a></li>
                <li><a class="dropdown-item" asp-controller="Products" asp-action="ProductsOfCategory" asp-route-id=@ViewData["KeyboardId"]>Keyboards</a></li>
                <li><a class="dropdown-item" asp-controller="Products" asp-action="ProductsOfCategory" asp-route-id=@ViewData["MonitorId"]>Monitors</a></li>
                <li><a class="dropdown-item" asp-controller="Products" asp-action="Index">View All</a></li>
            </ul>
        </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="col-2">
            <a asp-controller="Products" asp-action="Create" class="btn btn-primary">Create Product</a>
        </div>
    }
   </div>
</div>

