html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header{
    background-color:cornsilk;
}


body {
  margin-bottom: 60px;
  background-color: gainsboro;
}

.cart {
    position: absolute;
    top: 59px;
    width: 100%;
    border-color: #978787;
    border-style: double;
    right: 0;
    max-width: 300px;
    display: none;
    background: #e0f2ff;
}