html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cart 
{
    position: absolute;
    top: 59px;
    width: 100%;
    right: 0;
    max-width: 300px;
    display: none;
    background: #ccc;
}