html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header{
    background-color: darkcyan
}


body {
  margin-bottom: 60px;
  background-color: gainsboro;
}

.cart {
    position: absolute;
    top: 59px;
    width: 100%;
    border-color: #978787;
    border-style: double;
    right: 0;
    max-width: 400px;
    display: none;
    background: #e0f2ff;
    max-height: 400px;
    overflow-y: scroll;
    padding-bottom: 20px;
}

#linkColor a {
    color: white;
}

.card-overflow {
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp:4; 
    -webkit-box-orient: vertical;
}

.card-shadow {
    width: 100%;
    box-shadow: 0px 5px 10px #aaa;
}

.card-row {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cart-page {
    border: 1px solid #ccc; 
    background: #e0f2ff;
}