@model IEnumerable<ECommercePlateform.Models.Category>

@{
    ViewData["Title"] = "Default";
}

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card h-100" style="width: 20rem;">
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" style="height: 20rem;"/>
                    <div class="card-body">
                        <h5 class="card-title">@item.CategoryName</h5>
                        <p class="card-text">@item.Description</p>
                        <a asp-controller="Products" asp-action="ProductsOfCategory" asp-route-id=@item.CategoryId class="btn btn-primary">View @item.CategoryName Products</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
