@{
    ViewData["Title"] = "About Us";
}


    <div class="container">
        <div class="row" style="max-height: 300px">
            <div class="col-xs-12 col-sm-9 col-md-6">
                <img alt="img1"
                 src="/media/AboutUs/aboutUs.png"
                 style="max-height: 700px; max-width: 700px" />
            </div>
            <div class="col-xs-12 col-sm-9 col-md-6"
                 style="color: black; text-align: left">
                Supersonics is a retailer of personal computers, IT and components, as well as
                consumer electronics. Over our 30-year history, we continue to
                provide customers with the best products at the best value that the
                computer retail world can offer.
                In addition to selling quality products at a discount, we offer repair services and
                buy used products at a good price. Call us for an estimate on your products, or come visit
                us at our shop!
            </div>
        </div>
    </div>

    <!-- <div class="mt-3 col-8 container">
      <div class="events row">
        <div class="col-6 col">
          <img
            src="AboutUs/aboutUs.png"
            alt="images"
            class="py-4"
            style="max-height: 460px; max-width: 400px"
          />
        </div>
        <div class="col-8 col">
          <div class="offset-2 mt-4 eventTime row">23 June 2022 12pm</div>
          <div class="offset-2 eventTitle mt-4 row">Lunch Potluck</div>
          <div class="offset-2 mt-2 eventLocation row">
            20410 Lakeshore Dr, Baie-D'Urfe, Quebec H9X 1P7
          </div>
          <div class="mt-2 row">
            <div class="mt-5 eventAttendees col">2 attendees</div>
            <div class="mt-5 text-end col">
              <button class="detailBtn">Details</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="sc-olbas bNAKCi">
        <div class="events row">
            <div class="col-8 col">
                <h3 class="offset-1 mt-4 rmTitle row">CEO</h3>
                <h6 class="offset-1 eventTitle mt-4 textThemeSwitch row">
                    Nan Zhang
                </h6>
                <div class="offset-2 mt-2 row textThemeSwitch row"></div>
                <div class="row"></div>
                <br /><br />
            </div>
            <div class="col">
                <img src="/media/AboutUs/role1.jpg"
                     alt="images"
                     class="py-4 profileImg"
                     style="max-height: 230px; max-width: 200px" />
            </div>
        </div>
    </div>

    <div class="sc-olbas bNAKCi">
        <div class="events row">
            <div class="col-8 col">
                <h3 class="offset-1 mt-4 rmTitle row">CFO</h3>
            <h6 class="offset-1 eventTitle mt-4 textThemeSwitch row">Pattina Phetphommasouk</h6>
                <div class="offset-2 mt-2 row textThemeSwitch row"></div>
                <div class="row"></div>
                <br /><br />
            </div>
            <div class="col">
                <img src="/media/AboutUs/role2.jpg"
                     alt="images"
                     class="py-4 profileImg"
                     style="max-height: 230px; max-width: 200px" />
            </div>
        </div>
    </div>

    <div class="sc-olbas bNAKCi">
        <div class="events row">
            <div class="col-8 col">
                <h3 class="offset-1 mt-4 rmTitle row">CTO</h3>
            <h6 class="offset-1 eventTitle mt-4 textThemeSwitch row">David Krushnisky</h6>
                <div class="offset-2 mt-2 row textThemeSwitch row"></div>
                <div class="row"></div>
                <br /><br />
            </div>
            <div class="col">
                <img src="/media/AboutUs/role3.jpg"
                     alt="images"
                     class="py-4 profileImg"
                     style="max-height: 230px; max-width: 200px" />
            </div>
        </div>
    </div>

    <!-- <div class="row" style="float: center; width: 80%">
      <div
        class="card col-md-6 col-lg-4 col-xl-4 d-inline-flex align-items-stretch"
      >
        CEO<br />
        <img
          alt="img1"
          src="AboutUs/role1.jpg"
          class="img-fluid"
          style="max-height: 230px; max-width: 200px"
        />
      </div>
      <div
        class="card col-md-6 col-lg-4 col-xl-4 d-inline-flex align-items-stretch"
      >
        CFO<br />
        <img alt="img1" src="AboutUs/role2.jpg" class="img-fluid" />
      </div>
      <div
        class="card col-md-6 col-lg-4 col-xl-4 d-inline-flex align-items-stretch"
      >
        CTO<br />
        <img alt="img1" src="AboutUs/role3.jpg" class="img-fluid" />
      </div>
    </div> -->