@{
    ViewData["Title"] = "Contact";
}

<img src="/media/pc-computer-accessories.jpg" class="img-fluid" alt="electronic products scattered on a surface" />

<div class="col-12 col-lg-6 pr-0">
    <div class="row">
        <div class="col-12">
            <h2 class="pb-1 mb-2">Contact Us</h2>
            <p>
                Need help or have questions? Call our Customer Service team:<br />
                <span class="num">(514) 123-4567</span>
            </p>
        </div>
        <div class="col-4 px-0">Monday to Friday:</div>
        <div class="col-8">8:00 AM to 11:59 PM EST</div>
        <div class="col-4 px-0">Saturday:</div>
        <div class="col-8">8:00 AM to 5 PM EST</div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="pb-1 mb-2">Resources</h2>
            <h6>Quick Links :</h6>
            <ul>
                <li>
                    <a href="#" class="links" target="_blank">Store Locations &amp; Hours</a>
                </li>
                <li>
                    Order Status for
                    <a href="#" class="links" target="_blank">Member</a>
                    or
                    <a href="#" class="links" target="_blank">Guest</a>
                </li>
                <li>
                    <a href="#" class="links" target="_blank">Tech Care Protection Warranty</a>
                </li>
                <li>
                    <a href="#" class="links" target="_blank">Return Policy</a>
                </li>
            </ul>
        </div>
        <div class="col-12 mt-2">
            <h6>Frequently Asked Questions:</h6>
            <ul>
                <li>
                    <a href="#" class="links" target="_blank">Online Shopping &amp; Shipping</a>
                </li>
                <li>
                    <a href="#" class="links" target="_blank">Order Online &amp; Pickup at Store</a>
                </li>
            </ul>
        </div>
    </div>
</div>
