@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Electronic shop</h1>
    <p>Find all your tech needs here.</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="media/Keyboard.jpg" class="img-fluid" alt="electronic products scattered on a surface"/>
            <div class="overlay">
                <h1 class="display-4">Electronic shop</h1>
                <p>Find all your tech needs here.</p>
            </div>
        </div>
    </div>
</div>
@*Make it a partial for category*@
<div class="text-center mt-4">
    <h2>Categories</h2>
    <p>Select a category to view the products!</p>
</div>
@await Component.InvokeAsync("CategoryList")

@*
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="media/Headphones/CategoryImage.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-controller="Products" asp-action="ProductsOfCategory" asp-route-id=1 class="btn btn-primary">View Products</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="media/Keyboards/CategoryImage.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-controller="Products" asp-action="ProductsOfCategory" asp-route-id=2 class="btn btn-primary">View Products</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="media/Monitors/CategoryImage.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-controller="Products" asp-action="ProductsOfCategory" asp-route-id=3 class="btn btn-primary">View Products</a>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row justify-content-evenly">
        <div class="col-4 align-self-center">
            <img src="media/Headphones/CategoryImage.jpg" class="img-fluid thumbnail-category"/>
        </div>
        <div class="col-4 align-self-center">
            <img src="media/Monitors/CategoryImage.jpg" class="img-fluid thumbnail-category" />
        </div>
        <div class="col-4 align-self-center">
            <img src="media/Keyboards/CategoryImage.jpg" class="img-fluid thumbnail-category" />
        </div>
    </div>*@
</div>
