@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Electronic shop</h1>
    <p>Find all your tech needs here.</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="media/Keyboard.jpg" class="img-fluid" alt="electronic products scattered on a surface"/>
            <div class="overlay">
                <h1 class="display-4">Electronic shop</h1>
                <p>Find all your tech needs here.</p>
            </div>
        </div>
    </div>
</div>
@*Make it a partial for category*@
<div class="text-center mt-4">
    <h2>Categories</h2>
    <p>Select a category to view the products!</p>
</div>
@await Component.InvokeAsync("CategoryList")
